<div class="modal-header">
    <h3 class="modal-title">
        <i class="fa fa-exclamation fa-fw"></i> Padam jawapan peserta / Ketua Bahagian
    </h3>
</div>
<div class="modal-body">
    Adakah anda pasti untuk memadam maklumat penilaian ini? Maklumat penilaian yang dipadam tidak boleh dikembalikan semula.
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">
        <i class="fa fa-times fa-fw"></i> Tutup
    </button>
    <button class="btn btn-primary" type="submit" ng-click="ok()">
        <i class="fa fa-trash-o fa-fw"></i> Padam
    </button>
</div>