@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";
@import "ionicons/ionicons.less";
@import "chartJs/angular-chart.less";
@import "Admin-LTE/AdminLTE.less";
@import "Admin-LTE/skins/_all-skins.less";
@import (inline) "angular-block-ui/angular-block-ui.css";

.cursors {
  cursor: pointer;
}

.form-control {
  color: inherit;
}

.tab-pane {
  padding: 10px 0px;
}

.text-vertical-middle {
  vertical-align: middle !important;
}

.senaraiPenilaian {

  .bahagian {
    margin-top: 10px;
    background: #e6e6e6;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;

    &:first-child {
      margin-top: 0px;
    }

  }

  .aspek {
    padding: 10px;
  }

}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.nav-tabs > li.active > a {
  color: #000 !important;
}

.soalan-blocks {
  border-bottom: 1px solid #ccc;
  padding-top: 10px;

  &:last-child {
    border-bottom: none;
  }

  > .lead {
    font-weight: bolder;
    margin-bottom: 0px;
  }

  > .questions {
    margin-bottom: 10px;

    > .block-grey {
      display: block;
      background-color: #eee;
      font-weight: 600;
      text-align: center;
      padding: 5px 0px 5px 0px;
    }

    strong {
      line-height: 35px;
    }
  }
}

.soalanBhgA {
  li {
    margin-bottom: 20px;
    vertical-align: top;

    label {
      vertical-align: top;
    }

    div {
      vertical-align: top;
    }
  }
}