<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Statistik analisa keperluan latihan
    </h1>
    <ol data-breadcrumb class="breadcrumb" data-previousmenu='{"url": "analisa", "label": "Senarai Analisa"}' data-currentmenu="Analisa Latihan"></ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>BAHAGIAN B</strong></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <strong>Sila pilih bahagian terlebih dahulu</strong>
            <select name="section" id="section" ng-model="selectedBahagian" class="form-control">
                <option value="0">Semua bahagian</option>
                <option ng-repeat="section in listOfBahagian" value="{{ section.id }}">{{ section.nama }}</option>
            </select>

            <hr>

            <highchart ng-repeat="chartOpt in chartsOption" config="chartOpt" style="width: 100%; height: 400px; margin-bottom: 20px;"></highchart>

        </div>
    </div>

</section>